<table>
  <tr>
    <td>
Workout (sec):
    </td>
    <td>
      <ng-number-picker [(value)]="durationWorkout" ></ng-number-picker>
    </td>
    <td rowspan="2"> <button (click)="handleStart($event)" >{{buttonState}}</button></td>
  </tr>
  <tr>
    <td>
Rest (sec):
    </td>
    <td>
      <ng-number-picker [(value)]="durationPause"></ng-number-picker>

    </td>
  </tr>
</table>
<hr />
<div class="diver">
<table>
  <tr>
    <td>
Rounds: 
    </td>
    <td>
{{rounds}}
    </td>
  </tr>
   <tr>
    <td>
Modus: 
    </td>
    <td>
{{modus}}
    </td>
  </tr>
   <tr>
    <td>
Timer: 
    </td>
    <td>
{{current}}
    </td>
  </tr>
</table>
</div><span>hallo</span>
