<table>
  <tr>
    <td>
Workout (sec):
    </td>
    <td>
      <ng-number-picker [(value)]="durationWorkout" ></ng-number-picker>
    </td>
    <td rowspan="2"> <button (click)="handleStart($event)" >{{buttonState}}</button></td>
  </tr>
  <tr>
    <td>
Rest (sec):
    </td>
    <td>
      <ng-number-picker [(value)]="durationPause"></ng-number-picker>

    </td>
  </tr>
</table>
<hr />
<div class="diver">
  <table>
    <tr>
      <td>
<table>
  <tr>
    <td>
Rounds: 
    </td>
    <td>
{{rounds}}
    </td>
  </tr>
   <tr>
    <td>
Modus: 
    </td>
    <td>
{{modus}}
    </td>
  </tr>
   <tr>
    <td>
Timer: 
    </td>
    <td>
{{current}}
    </td>
  </tr>
</table>
      </td>
      <td>
        <img *ngIf="modus == 'Rest'" src="{{restImage}}" />
        <img *ngIf="modus == 'Workout'"  src="{{workImage}}" />
      </td>
    </tr>
  </table>
</div>
